body {
  font-family: "Open Sans", sans-serif;
  margin: 25px;
}

h1 {
  margin-bottom: 5px;
}

h2 {
  margin: 0;
}

h3, h4 {
  margin: 10px 0 10px 0;
}

button {
  font-size: 14px;
  padding: 7px 20px 7px 20px;
  border: 1px solid #444;
  margin: 15px 5px 15px 0;
  cursor: pointer;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

button[type=reset] {
  background-color: #f9e7e7;
}

button[type=button] {
  background-color: #e5f1d9;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 2px 0 2px 0;
  padding: 5px 2px 5px 2px;
  list-style-type: none;
}

li:hover {
  background-color: #f7f7f7;
}

pre {
  line-height: 18px;
}

hr {
  margin: 30px 0 30px 0;
  border-color: #ccc;
  border-color: #fff;
}

#errorHeaders, #errorRecords {
  display: none;
}

#errorHeaders {
  margin-top: 13px;
}

#errorHeaders div {
  display: inline-block;
  vertical-align: top;
  width: 49.5%;
}

.ayuda {
  opacity: 0.5;
  font-size: 80%;
}

.warning {
  color: #f00;
}

.dim {
  opacity: 0.3;
  font-size: 0.7em;
}

.pdim {
  margin: 0 0 10px 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.logoline {
  font-size: 1.5em;
}

.logo {
  width: 180px;
  vertical-align: middle;
  margin-right: 0.3em;
}